%h1 OpenHouse Homepage
%p= flash[:notice] if flash[:notice]

- if logged_in?
    = link_to 'Edit Profile', edit_user_path
    <br>
    = link_to 'Log Out', logout_path, method: :delete
- else
    = link_to 'Log In', login_path
