%h1 Create New User

// = form_tag login_path do

//   = label :user, :username, 'Username'
//   = text_field :username, 'username'

//   = label :user, :password, 'Password'
//   = text_field :password, 'password'
  
//   = label :user, :credit_card, 'Credit Card'
//   = text_field :username, 'xxxxxxxxxxxxxxxx'
  
//   = label :user, :email, 'E-Mail'
//   = text_field :email, 'dave@gmail.com'
  
//   = label :user, :address, 'Address'
//   = text_field :address, '1111 Example Street'

//   = submit_tag 'Submit'
