%p= flash[:notice] if flash[:notice]
%div{:class => 'signup-box'}
  %h1{:class => 'signup-header'} Create Your Account
  %h3{:class => 'signup-subheader'} Enter your new account information below.
  <br>
  %div{:class => 'row'}
    %div{:class => 'col-md-6 col-md-offset-3'}
      %form{:action => "/users", :method => "post"}
        %label{:for => "user_email"} Email
        %input{:type => "text", :name => "user_email", :class => "form-control"}
        
        %label{:for => "user_password"} Password
        %input{:type => "password", :name => "user_password", :class => "form-control"}
        
        %label{:for => "user_first_name"} First Name
        %input{:type => "text", :name => "user_first_name", :class => "form-control"}
        
        %label{:for => "user_last_name"} Last Name
        %input{:type => "text", :name => "user_last_name", :class => "form-control"}
        
        %label{:for => "user_personal_description"} Personal Description
        %input{:type => "text", :name => "user_personal_description", :class => "form-control"}
        <br>
        %input{:type => "submit", :name => 'commit', :value => "Submit", :class => "btn btn-primary"}
